.pagination{
    display: flex;
    justify-content: center;
}

.pagination button{
    height: 2rem;
    width: 2rem;
    margin: 0.4rem;
    background-color: white;
    border: none;
}
.prev-next{
    width: 5rem !important;
    border: 2px solid rgba(128, 128, 128, 0.598) !important;
    border-radius: 5px;
}
.page-btns:nth-child(4){
    background-color: rgb(20,110,180);    
    color: white;
    border-radius: 5px;

}