*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    width: 100%;
    margin: auto;
    border-bottom: 2px solid rgba(92, 92, 92, 0.499);
    padding: 1rem 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.payment-head-left{
    margin-left: 2rem;
    font-weight: bold;
}
.payment-head-left span{
    font-size: 14px;
    font-weight:400;
}
.search-bar input{
    height: 1.9rem;
    width: 20rem;
    padding-left: 2rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(242,242,242);
}
input::placeholder{
    color: rgb(131,131,131);

}
.search-bar{
    position: relative;
}
.search-bar .icon-main{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%);
    color: rgb(131,131,131);

}
.btns-nav{
    margin-right: 2rem;
}
.btn-1-nav, .btn-2-nav{
    height: 40px;
    width: 40px;
    margin: 0 5px;
    border-radius: 50%;
    border: none;
    background-color: rgba(230,230,230);
}
.icon{
    color: rgb(76, 76, 76);
}